{% extends 'base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<style>

.auth-box {
    background: #fffefe;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(255 255 255 / 10%);
    width: 100%;
    max-width: 400px;
    background-color:#0A1725;
    }
    .footer {
    background: #0A1725;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 50px;
}
</style>
<div class="auth-container">
    <div class="auth-box">
        <h1>Đăng nhập</h1>

        <form method="post" class="auth-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary btn-full">Đăng nhập</button>
        </form>

        <div class="auth-footer">
            <p>Chưa có tài khoản? <a href="/auth/register/">Đăng ký ngay</a></p>
        </div>
    </div>
</div>

{% endblock %}