-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: manga_db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$1000000$lB2BNatAEe6B2ATHKFCyqh$c9H7w/Kw6mYRYbAlL8QZyjExvJtCobbaPtLePOomXoE=','2025-12-03 19:39:08.167497',1,'admin','','','anhkietdoanpro@gmail.com',1,1,'2025-11-25 04:30:31.017817'),(2,'pbkdf2_sha256$1000000$YdoNe1XcD3rAXhlsqkYCRs$qygg/Sq/aeIr4IRa4B7KT5DmjShocRCEAr5sUfYCNGk=','2025-12-03 19:38:31.524777',0,'anhkiet','','','hoanhduong34@gmail.com',0,1,'2025-11-25 04:36:38.444463');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(7,'manga','author'),(8,'manga','category'),(9,'manga','chapter'),(17,'manga','chapterimage'),(12,'manga','comment'),(11,'manga','follow'),(10,'manga','manga'),(13,'manga','rating'),(14,'manga','readinghistory'),(15,'manga','userprofile'),(16,'manga','viewcount'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('qy6lz5t2dtvghjeng5bj8f1d8sku5meb','.eJxVjEEOgjAURO_StWla8Jfi0r1nIEN_v0VNm1BYGe8uJCx0O-_Ne6sB65KGtcZ5mFhdlFWn321EeMa8A34g34sOJS_zNOpd0Qet-lY4vq6H-xdIqGl7R-KGvOu8WJIWToyDEe4JW6OzrnEBOJMRAaGJ0kM84tgHY4WZW_X5Avy9OU0:1vQsgu:rASYzSE8882mQFM1aOaXtF2rvVWDY_25Y8U--LZ7T_M','2026-01-02 19:39:08.301194');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_author`
--

DROP TABLE IF EXISTS `manga_author`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_author` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `bio` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_author`
--

LOCK TABLES `manga_author` WRITE;
/*!40000 ALTER TABLE `manga_author` DISABLE KEYS */;
INSERT INTO `manga_author` VALUES (2,'kiet','kiet','');
/*!40000 ALTER TABLE `manga_author` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_category`
--

DROP TABLE IF EXISTS `manga_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_category`
--

LOCK TABLES `manga_category` WRITE;
/*!40000 ALTER TABLE `manga_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_chapter`
--

DROP TABLE IF EXISTS `manga_chapter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_chapter` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `chapter_number` double NOT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `views` int unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `manga_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_chapter_manga_id_chapter_number_e01b1de3_uniq` (`manga_id`,`chapter_number`),
  KEY `manga_chapt_manga_i_2ccb8c_idx` (`manga_id`,`chapter_number` DESC),
  KEY `manga_chapter_slug_069a0140` (`slug`),
  CONSTRAINT `manga_chapter_manga_id_272541d9_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_chapter_chk_1` CHECK ((`views` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_chapter`
--

LOCK TABLES `manga_chapter` WRITE;
/*!40000 ALTER TABLE `manga_chapter` DISABLE KEYS */;
INSERT INTO `manga_chapter` VALUES (3,1,'meo','animal-chapter-1.0',0,'2025-12-03 19:36:36.412201','2025-12-03 19:36:36.412231',2);
/*!40000 ALTER TABLE `manga_chapter` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_chapterimage`
--

DROP TABLE IF EXISTS `manga_chapterimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_chapterimage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `page_number` int unsigned NOT NULL,
  `chapter_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_chapterimage_chapter_id_page_number_8e713fee_uniq` (`chapter_id`,`page_number`),
  CONSTRAINT `manga_chapterimage_chapter_id_f8b8800a_fk_manga_chapter_id` FOREIGN KEY (`chapter_id`) REFERENCES `manga_chapter` (`id`),
  CONSTRAINT `manga_chapterimage_chk_1` CHECK ((`page_number` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_chapterimage`
--

LOCK TABLES `manga_chapterimage` WRITE;
/*!40000 ALTER TABLE `manga_chapterimage` DISABLE KEYS */;
INSERT INTO `manga_chapterimage` VALUES (3,'chapters/avarta_qwHjSH4.jpg',1,3);
/*!40000 ALTER TABLE `manga_chapterimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_comment`
--

DROP TABLE IF EXISTS `manga_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_comment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `chapter_id` bigint DEFAULT NULL,
  `parent_id` bigint DEFAULT NULL,
  `user_id` int NOT NULL,
  `manga_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `manga_comment_chapter_id_8b1dd570_fk_manga_chapter_id` (`chapter_id`),
  KEY `manga_comment_parent_id_d132fe2f_fk_manga_comment_id` (`parent_id`),
  KEY `manga_comment_user_id_949f2860_fk_auth_user_id` (`user_id`),
  KEY `manga_comment_manga_id_870efe0c_fk_manga_manga_id` (`manga_id`),
  CONSTRAINT `manga_comment_chapter_id_8b1dd570_fk_manga_chapter_id` FOREIGN KEY (`chapter_id`) REFERENCES `manga_chapter` (`id`),
  CONSTRAINT `manga_comment_manga_id_870efe0c_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_comment_parent_id_d132fe2f_fk_manga_comment_id` FOREIGN KEY (`parent_id`) REFERENCES `manga_comment` (`id`),
  CONSTRAINT `manga_comment_user_id_949f2860_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_comment`
--

LOCK TABLES `manga_comment` WRITE;
/*!40000 ALTER TABLE `manga_comment` DISABLE KEYS */;
INSERT INTO `manga_comment` VALUES (1,'....','2025-12-03 19:37:38.363174','2025-12-03 19:37:38.363246',NULL,NULL,1,2);
/*!40000 ALTER TABLE `manga_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_follow`
--

DROP TABLE IF EXISTS `manga_follow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_follow` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  `manga_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_follow_user_id_manga_id_4cdd2eea_uniq` (`user_id`,`manga_id`),
  KEY `manga_follow_manga_id_8940d050_fk_manga_manga_id` (`manga_id`),
  CONSTRAINT `manga_follow_manga_id_8940d050_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_follow_user_id_589cbe05_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_follow`
--

LOCK TABLES `manga_follow` WRITE;
/*!40000 ALTER TABLE `manga_follow` DISABLE KEYS */;
INSERT INTO `manga_follow` VALUES (2,'2025-12-03 19:41:32.183291',1,3);
/*!40000 ALTER TABLE `manga_follow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_manga`
--

DROP TABLE IF EXISTS `manga_manga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_manga` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `slug` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alternative_title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `cover_image` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `views` int unsigned NOT NULL,
  `rating` decimal(3,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `author_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `manga_manga_views_e7e2fa_idx` (`views` DESC),
  KEY `manga_manga_updated_82f022_idx` (`updated_at` DESC),
  KEY `manga_manga_slug_20a47e_idx` (`slug`),
  KEY `manga_manga_author_id_11ced576_fk_manga_author_id` (`author_id`),
  CONSTRAINT `manga_manga_author_id_11ced576_fk_manga_author_id` FOREIGN KEY (`author_id`) REFERENCES `manga_author` (`id`),
  CONSTRAINT `manga_manga_chk_1` CHECK ((`views` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_manga`
--

LOCK TABLES `manga_manga` WRITE;
/*!40000 ALTER TABLE `manga_manga` DISABLE KEYS */;
INSERT INTO `manga_manga` VALUES (2,'animal','animal','','animal','covers/avarta_4QkdEnm.jpg','ongoing',6,0.00,'2025-12-03 19:20:04.077553','2025-12-03 19:20:04.077601',NULL),(3,'song kiem','song-kiem','','...','covers/avarta_3jzwASW.jpg','ongoing',2,0.00,'2025-12-03 19:40:59.773015','2025-12-03 19:40:59.773062',NULL);
/*!40000 ALTER TABLE `manga_manga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_manga_categories`
--

DROP TABLE IF EXISTS `manga_manga_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_manga_categories` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `manga_id` bigint NOT NULL,
  `category_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_manga_categories_manga_id_category_id_50cd6003_uniq` (`manga_id`,`category_id`),
  KEY `manga_manga_categories_category_id_d9ca4263_fk_manga_category_id` (`category_id`),
  CONSTRAINT `manga_manga_categories_category_id_d9ca4263_fk_manga_category_id` FOREIGN KEY (`category_id`) REFERENCES `manga_category` (`id`),
  CONSTRAINT `manga_manga_categories_manga_id_b1934bd7_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_manga_categories`
--

LOCK TABLES `manga_manga_categories` WRITE;
/*!40000 ALTER TABLE `manga_manga_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_manga_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_rating`
--

DROP TABLE IF EXISTS `manga_rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_rating` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `score` smallint unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `manga_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_rating_user_id_manga_id_24e7153b_uniq` (`user_id`,`manga_id`),
  KEY `manga_rating_manga_id_3d3d69b7_fk_manga_manga_id` (`manga_id`),
  CONSTRAINT `manga_rating_manga_id_3d3d69b7_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_rating_user_id_c9ac4cb4_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `manga_rating_chk_1` CHECK ((`score` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_rating`
--

LOCK TABLES `manga_rating` WRITE;
/*!40000 ALTER TABLE `manga_rating` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_readinghistory`
--

DROP TABLE IF EXISTS `manga_readinghistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_readinghistory` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `last_read_at` datetime(6) NOT NULL,
  `chapter_id` bigint NOT NULL,
  `manga_id` bigint NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_readinghistory_user_id_chapter_id_bcb814ee_uniq` (`user_id`,`chapter_id`),
  KEY `manga_readi_user_id_240fa5_idx` (`user_id`,`last_read_at` DESC),
  KEY `manga_readinghistory_chapter_id_230f873f_fk_manga_chapter_id` (`chapter_id`),
  KEY `manga_readinghistory_manga_id_99f6cc4c_fk_manga_manga_id` (`manga_id`),
  CONSTRAINT `manga_readinghistory_chapter_id_230f873f_fk_manga_chapter_id` FOREIGN KEY (`chapter_id`) REFERENCES `manga_chapter` (`id`),
  CONSTRAINT `manga_readinghistory_manga_id_99f6cc4c_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_readinghistory_user_id_b30e6689_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_readinghistory`
--

LOCK TABLES `manga_readinghistory` WRITE;
/*!40000 ALTER TABLE `manga_readinghistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `manga_readinghistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_userprofile`
--

DROP TABLE IF EXISTS `manga_userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_userprofile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `avatar` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bio` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `manga_userprofile_user_id_80b34c02_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_userprofile`
--

LOCK TABLES `manga_userprofile` WRITE;
/*!40000 ALTER TABLE `manga_userprofile` DISABLE KEYS */;
INSERT INTO `manga_userprofile` VALUES (1,'','','2025-11-25 04:36:39.970034',2);
/*!40000 ALTER TABLE `manga_userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manga_viewcount`
--

DROP TABLE IF EXISTS `manga_viewcount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manga_viewcount` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `count` int unsigned NOT NULL,
  `manga_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `manga_viewcount_manga_id_date_29103f61_uniq` (`manga_id`,`date`),
  KEY `manga_viewc_date_bebef0_idx` (`date`),
  CONSTRAINT `manga_viewcount_manga_id_72281ffa_fk_manga_manga_id` FOREIGN KEY (`manga_id`) REFERENCES `manga_manga` (`id`),
  CONSTRAINT `manga_viewcount_chk_1` CHECK ((`count` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manga_viewcount`
--

LOCK TABLES `manga_viewcount` WRITE;
/*!40000 ALTER TABLE `manga_viewcount` DISABLE KEYS */;
INSERT INTO `manga_viewcount` VALUES (11,'2025-12-04',1,2),(16,'2025-12-04',1,3);
/*!40000 ALTER TABLE `manga_viewcount` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-04  3:27:29
